/node_modules
/vendor
/.env
/.idea
/*.sqlite
/storage/*
!/storage/app/public
/public/storage
/bootstrap/cache
/config/ide-helper.php
/config/ide-helper.meta.php
/database/migrations
/database/seeders
/database/factories
/tests
/var
.DS_Store
*.log
.phpunit.result.cache
